.App {
    text-align: center;
    font-size: calc(10px + 2vmin);
    align-items: center;
    min-height: 100vh;
}

.app-wrapper {
    display: grid;
    grid-template-areas: "score header";
    /*grid-template-columns: 2fr 20fr;*/
    grid-gap: 0px;
}

.app-wrapper-score {
    width: 300px;
    display: inline-block;
    grid-area: score;
}

.app-wrapper-header {
    text-align: left;
    margin-left: 200px;
    width: 800px;
    display: inline-block;
    grid-area: header;
}